* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.bg-con {
    background-color: #97c8d0; 
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: px;
}

@media all and (min-width: 620px) {
    .card-con {
        max-width: 420px;
        padding: 15px;
        border: 0px solid;
        border-radius: 12px;
        background-color: #036779;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #temperature p {
        font-size: 40px;
        margin-top: -30px;
    }

    #weather-info {
        font-size: 20px;
    }
    
    
#weather-icon {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    max-width: 420px;
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
}

}
.card-con {
    max-width: 260px;
    border: 0px solid;
    padding: 15px;
    border-radius: 12px;
    background-color: #036779;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    height: 40px;
    width: calc((380px - 8rem));
    border: 0px solid;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 13px;
    margin-top: 15px;
}


#temperature p {
    font-size: 22px;
    margin-top: -30px;
}

#weather-info {
    font-size: 15px;
}

#weather-icon {
    width: 120px;
    height: 120px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    max-width: 240px;
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}